<div class="unnumbered-level-extent" id="Copying">
<div class="nav-panel">
<p>
Next: <a href="constant.Introduction_to_GMP.html#start" accesskey="n" rel="next">Introduction to GNU MP</a>, Previous: <a href="index.html#start" accesskey="p" rel="prev">GNU MP</a>, Up: <a href="index.html#start" accesskey="u" rel="up">GNU MP</a> &nbsp; [<a href="constant.Concept_Index.html#start" title="Index" rel="index">Index</a>]</p>
</div>
<h2 class="unnumbered" id="GNU-MP-Copying-Conditions">GNU MP Copying Conditions</h2>
<a class="index-entry-id" id="index-Copying-conditions"></a>
<a class="index-entry-id" id="index-Conditions-for-copying-GNU-MP"></a>
<a class="index-entry-id" id="index-License-conditions"></a>
<p>This library is <em class="dfn">free</em>; this means that everyone is free to use it and
free to redistribute it on a free basis.  The library is not in the public
domain; it is copyrighted and there are restrictions on its distribution, but
these restrictions are designed to permit everything that a good cooperating
citizen would want to do.  What is not allowed is to try to prevent others
from further sharing any version of this library that they might get from
you.
</p>
<p>Specifically, we want to make sure that you have the right to give away copies
of the library, that you receive source code or else can get it if you want
it, that you can change this library or use pieces of it in new free programs,
and that you know you can do these things.
</p>
<p>To make sure that everyone has such rights, we have to forbid you to deprive
anyone else of these rights.  For example, if you distribute copies of the GNU
MP library, you must give the recipients all the rights that you have.  You
must make sure that they, too, receive or can get the source code.  And you
must tell them their rights.
</p>
<p>Also, for our own protection, we must make certain that everyone finds out
that there is no warranty for the GNU MP library.  If it is modified by
someone else and passed on, we want their recipients to know that what they
have is not what we distributed, so that any problems introduced by others
will not reflect on our reputation.
</p>
<p>More precisely, the GNU MP library is dual licensed, under the conditions of
the GNU Lesser General Public License version 3 (see
<samp class="file">COPYING.LESSERv3</samp>), or the GNU General Public License version 2 (see
<samp class="file">COPYINGv2</samp>). This is the recipient&rsquo;s choice, and the recipient also has
the additional option of applying later versions of these licenses. (The
reason for this dual licensing is to make it possible to use the library with
programs which are licensed under GPL version 2, but which for historical or
other reasons do not allow use under later versions of the GPL.)
</p>
<p>Programs which are not part of the library itself, such as demonstration
programs and the GMP testsuite, are licensed under the terms of the GNU
General Public License version 3 (see <samp class="file">COPYINGv3</samp>), or any later
version.
</p>
</div>
<hr>
<div class="nav-panel">
<p>
Next: <a href="constant.Introduction_to_GMP.html#start" accesskey="n" rel="next">Introduction to GNU MP</a>, Previous: <a href="index.html#start" accesskey="p" rel="prev">GNU MP</a>, Up: <a href="index.html#start" accesskey="u" rel="up">GNU MP</a> &nbsp; [<a href="constant.Concept_Index.html#start" title="Index" rel="index">Index</a>]</p>
</div>
