<div class="chapter-level-extent" id="Formatted-Output">
<div class="nav-panel">
<p>
Next: <a href="constant.Formatted_Input.html#Formatted-Input" accesskey="n" rel="next">Formatted Input</a>, Previous: <a href="constant.Random_Number_Functions.html#Random-Number-Functions" accesskey="p" rel="prev">Random Number Functions</a>, Up: <a href="index.html#start" accesskey="u" rel="up">GNU MP</a> &nbsp; [<a href="constant.Concept_Index.html#start" title="Index" rel="index">Index</a>]</p>
</div>
<h2 class="chapter" id="Formatted-Output-1">10 Formatted Output</h2>
<a class="index-entry-id" id="index-Formatted-output"></a>
<a class="index-entry-id" id="index-printf-formatted-output"></a>
<ul class="mini-toc">
<li><a href="#Formatted-Output-Strings" accesskey="1">Format Strings</a></li>
<li><a href="#Formatted-Output-Functions" accesskey="2">Functions</a></li>
<li><a href="#C_002b_002b-Formatted-Output" accesskey="3">C++ Formatted Output</a></li>
</ul>
<hr>
<div class="section-level-extent" id="Formatted-Output-Strings">
<div class="nav-panel">
<p>
Next: <a href="#Formatted-Output-Functions" accesskey="n" rel="next">Functions</a>, Previous: <a href="#Formatted-Output" accesskey="p" rel="prev">Formatted Output</a>, Up: <a href="#Formatted-Output" accesskey="u" rel="up">Formatted Output</a> &nbsp; [<a href="constant.Concept_Index.html#start" title="Index" rel="index">Index</a>]</p>
</div>
<h3 class="section" id="Format-Strings">10.1 Format Strings</h3>
<p><code class="code">gmp_printf</code> and friends accept format strings similar to the standard C
<code class="code">printf</code> (see <a data-manual="libc" href="https://www.gnu.org/software/libc/manual/html_node/Formatted-Output.html#Formatted-Output">Formatted Output</a> in <cite class="cite">The GNU C
Library Reference Manual</cite>).  A format specification is of the form
</p>
<div class="example">
<pre class="example-preformatted">% [flags] [width] [.[precision]] [type] conv
</pre></div>
<p>GMP adds types &lsquo;<samp class="samp">Z</samp>&rsquo;, &lsquo;<samp class="samp">Q</samp>&rsquo; and &lsquo;<samp class="samp">F</samp>&rsquo; for <code class="code">mpz_t</code>, <code class="code">mpq_t</code>
and <code class="code">mpf_t</code> respectively, &lsquo;<samp class="samp">M</samp>&rsquo; for <code class="code">mp_limb_t</code>, and &lsquo;<samp class="samp">N</samp>&rsquo; for
an <code class="code">mp_limb_t</code> array.  &lsquo;<samp class="samp">Z</samp>&rsquo;, &lsquo;<samp class="samp">Q</samp>&rsquo;, &lsquo;<samp class="samp">M</samp>&rsquo; and &lsquo;<samp class="samp">N</samp>&rsquo; behave
like integers.  &lsquo;<samp class="samp">Q</samp>&rsquo; will print a &lsquo;<samp class="samp">/</samp>&rsquo; and a denominator, if needed.
&lsquo;<samp class="samp">F</samp>&rsquo; behaves like a float.  For example,
</p>
<div class="example">
<pre class="example-preformatted">mpz_t z;
gmp_printf (&quot;%s is an mpz %Zd\n&quot;, &quot;here&quot;, z);
mpq_t q;
gmp_printf (&quot;a hex rational: %#40Qx\n&quot;, q);
mpf_t f;
int   n;
gmp_printf (&quot;fixed point mpf %.*Ff with %d digits\n&quot;, n, f, n);
mp_limb_t l;
gmp_printf (&quot;limb %Mu\n&quot;, l);
const mp_limb_t *ptr;
mp_size_t       size;
gmp_printf (&quot;limb array %Nx\n&quot;, ptr, size);
</pre></div>
<p>For &lsquo;<samp class="samp">N</samp>&rsquo; the limbs are expected least significant first, as per the
<code class="code">mpn</code> functions (see <a class="pxref" href="constant.Low_level_Functions.html#start">Low-level Functions</a>).  A negative size can be
given to print the value as a negative.
</p>
<p>All the standard C <code class="code">printf</code> types behave the same as the C library
<code class="code">printf</code>, and can be freely intermixed with the GMP extensions.  In the
current implementation the standard parts of the format string are simply
handed to <code class="code">printf</code> and only the GMP extensions handled directly.
</p>
<p>The flags accepted are as follows.  GLIBC style &lsquo;<samp class="samp">'</samp>&rsquo; is only for the
standard C types (not the GMP types), and only if the C library supports it.
</p>
<blockquote class="quotation">
<table class="multitable">
<tbody><tr><td><code class="code">0</code></td><td>pad with zeros (rather than spaces)</td></tr>
<tr><td><code class="code">#</code></td><td>show the base with &lsquo;<samp class="samp">0x</samp>&rsquo;, &lsquo;<samp class="samp">0X</samp>&rsquo; or &lsquo;<samp class="samp">0</samp>&rsquo;</td></tr>
<tr><td><code class="code">+</code></td><td>always show a sign</td></tr>
<tr><td>(space)</td><td>show a space or a &lsquo;<samp class="samp">-</samp>&rsquo; sign</td></tr>
<tr><td><code class="code">'</code></td><td>group digits, GLIBC style (not GMP types)</td></tr>
</tbody>
</table>
</blockquote>
<p>The optional width and precision can be given as a number within the format
string, or as a &lsquo;<samp class="samp">*</samp>&rsquo; to take an extra parameter of type <code class="code">int</code>, the
same as the standard <code class="code">printf</code>.
</p>
<p>The standard types accepted are as follows.  &lsquo;<samp class="samp">h</samp>&rsquo; and &lsquo;<samp class="samp">l</samp>&rsquo; are
portable, the rest will depend on the compiler (or include files) for the type
and the C library for the output.
</p>
<blockquote class="quotation">
<table class="multitable">
<tbody><tr><td><code class="code">h</code></td><td><code class="code">short</code></td></tr>
<tr><td><code class="code">hh</code></td><td><code class="code">char</code></td></tr>
<tr><td><code class="code">j</code></td><td><code class="code">intmax_t</code> or <code class="code">uintmax_t</code></td></tr>
<tr><td><code class="code">l</code></td><td><code class="code">long</code> or <code class="code">wchar_t</code></td></tr>
<tr><td><code class="code">ll</code></td><td><code class="code">long long</code></td></tr>
<tr><td><code class="code">L</code></td><td><code class="code">long double</code></td></tr>
<tr><td><code class="code">q</code></td><td><code class="code">quad_t</code> or <code class="code">u_quad_t</code></td></tr>
<tr><td><code class="code">t</code></td><td><code class="code">ptrdiff_t</code></td></tr>
<tr><td><code class="code">z</code></td><td><code class="code">size_t</code></td></tr>
</tbody>
</table>
</blockquote>
<p>The GMP types are
</p>
<blockquote class="quotation">
<table class="multitable">
<tbody><tr><td><code class="code">F</code></td><td><code class="code">mpf_t</code>, float conversions</td></tr>
<tr><td><code class="code">Q</code></td><td><code class="code">mpq_t</code>, integer conversions</td></tr>
<tr><td><code class="code">M</code></td><td><code class="code">mp_limb_t</code>, integer conversions</td></tr>
<tr><td><code class="code">N</code></td><td><code class="code">mp_limb_t</code> array, integer conversions</td></tr>
<tr><td><code class="code">Z</code></td><td><code class="code">mpz_t</code>, integer conversions</td></tr>
</tbody>
</table>
</blockquote>
<p>The conversions accepted are as follows.  &lsquo;<samp class="samp">a</samp>&rsquo; and &lsquo;<samp class="samp">A</samp>&rsquo; are always
supported for <code class="code">mpf_t</code> but depend on the C library for standard C float
types.  &lsquo;<samp class="samp">m</samp>&rsquo; and &lsquo;<samp class="samp">p</samp>&rsquo; depend on the C library.
</p>
<blockquote class="quotation">
<table class="multitable">
<tbody><tr><td><code class="code">a</code> <code class="code">A</code></td><td>hex floats, C99 style</td></tr>
<tr><td><code class="code">c</code></td><td>character</td></tr>
<tr><td><code class="code">d</code></td><td>decimal integer</td></tr>
<tr><td><code class="code">e</code> <code class="code">E</code></td><td>scientific format float</td></tr>
<tr><td><code class="code">f</code></td><td>fixed point float</td></tr>
<tr><td><code class="code">i</code></td><td>same as <code class="code">d</code></td></tr>
<tr><td><code class="code">g</code> <code class="code">G</code></td><td>fixed or scientific float</td></tr>
<tr><td><code class="code">m</code></td><td><code class="code">strerror</code> string, GLIBC style</td></tr>
<tr><td><code class="code">n</code></td><td>store characters written so far</td></tr>
<tr><td><code class="code">o</code></td><td>octal integer</td></tr>
<tr><td><code class="code">p</code></td><td>pointer</td></tr>
<tr><td><code class="code">s</code></td><td>string</td></tr>
<tr><td><code class="code">u</code></td><td>unsigned integer</td></tr>
<tr><td><code class="code">x</code> <code class="code">X</code></td><td>hex integer</td></tr>
</tbody>
</table>
</blockquote>
<p>&lsquo;<samp class="samp">o</samp>&rsquo;, &lsquo;<samp class="samp">x</samp>&rsquo; and &lsquo;<samp class="samp">X</samp>&rsquo; are unsigned for the standard C types, but for
types &lsquo;<samp class="samp">Z</samp>&rsquo;, &lsquo;<samp class="samp">Q</samp>&rsquo; and &lsquo;<samp class="samp">N</samp>&rsquo; they are signed.  &lsquo;<samp class="samp">u</samp>&rsquo; is not
meaningful for &lsquo;<samp class="samp">Z</samp>&rsquo;, &lsquo;<samp class="samp">Q</samp>&rsquo; and &lsquo;<samp class="samp">N</samp>&rsquo;.
</p>
<p>&lsquo;<samp class="samp">M</samp>&rsquo; is a proxy for the C library &lsquo;<samp class="samp">l</samp>&rsquo; or &lsquo;<samp class="samp">L</samp>&rsquo;, according to the
size of <code class="code">mp_limb_t</code>.  Unsigned conversions will be usual, but a signed
conversion can be used and will interpret the value as a two&rsquo;s complement
negative.
</p>
<p>&lsquo;<samp class="samp">n</samp>&rsquo; can be used with any type, even the GMP types.
</p>
<p>Other types or conversions that might be accepted by the C library
<code class="code">printf</code> cannot be used through <code class="code">gmp_printf</code>, this includes for
instance extensions registered with GLIBC <code class="code">register_printf_function</code>.
Also currently there&rsquo;s no support for POSIX &lsquo;<samp class="samp">$</samp>&rsquo; style numbered arguments
(perhaps this will be added in the future).
</p>
<p>The precision field has its usual meaning for integer &lsquo;<samp class="samp">Z</samp>&rsquo; and float
&lsquo;<samp class="samp">F</samp>&rsquo; types, but is currently undefined for &lsquo;<samp class="samp">Q</samp>&rsquo; and should not be used
with that.
</p>
<p><code class="code">mpf_t</code> conversions only ever generate as many digits as can be
accurately represented by the operand, the same as <code class="code">mpf_get_str</code> does.
Zeros will be used if necessary to pad to the requested precision.  This
happens even for an &lsquo;<samp class="samp">f</samp>&rsquo; conversion of an <code class="code">mpf_t</code> which is an
integer, for instance <em class="math">2^1024<!-- /@w --></em> in an <code class="code">mpf_t</code> of 128 bits
precision will only produce about 40 digits, then pad with zeros to the
decimal point.  An empty precision field like &lsquo;<samp class="samp">%.Fe</samp>&rsquo; or &lsquo;<samp class="samp">%.Ff</samp>&rsquo; can
be used to specifically request just the significant digits.  Without any dot
and thus no precision field, a precision value of 6 will be used.  Note that
these rules mean that &lsquo;<samp class="samp">%Ff</samp>&rsquo;, &lsquo;<samp class="samp">%.Ff</samp>&rsquo;, and &lsquo;<samp class="samp">%.0Ff</samp>&rsquo; will all be
different.
</p>
<p>The decimal point character (or string) is taken from the current locale
settings on systems which provide <code class="code">localeconv</code> (see <a data-manual="libc" href="https://www.gnu.org/software/libc/manual/html_node/Locales.html#Locales">Locales
and Internationalization</a> in <cite class="cite">The GNU C Library Reference Manual</cite>).  The C
library will normally do the same for standard float output.
</p>
<p>The format string is only interpreted as plain <code class="code">char</code>s, multibyte
characters are not recognised.  Perhaps this will change in the future.
</p>
<hr>
</div>
<div class="section-level-extent" id="Formatted-Output-Functions">
<div class="nav-panel">
<p>
Next: <a href="#C_002b_002b-Formatted-Output" accesskey="n" rel="next">C++ Formatted Output</a>, Previous: <a href="#Formatted-Output-Strings" accesskey="p" rel="prev">Format Strings</a>, Up: <a href="#Formatted-Output" accesskey="u" rel="up">Formatted Output</a> &nbsp; [<a href="constant.Concept_Index.html#start" title="Index" rel="index">Index</a>]</p>
</div>
<h3 class="section" id="Functions">10.2 Functions</h3>
<a class="index-entry-id" id="index-Output-functions-3"></a>
<p>Each of the following functions is similar to the corresponding C library
function.  The basic <code class="code">printf</code> forms take a variable argument list.  The
<code class="code">vprintf</code> forms take an argument pointer, see <a data-manual="libc" href="https://www.gnu.org/software/libc/manual/html_node/Variadic-Functions.html#Variadic-Functions">Variadic Functions</a> in <cite class="cite">The GNU C Library Reference Manual</cite>, or &lsquo;<samp class="samp">man 3
va_start</samp>&rsquo;.
</p>
<p>It should be emphasised that if a format string is invalid, or the arguments
don&rsquo;t match what the format specifies, then the behaviour of any of these
functions will be unpredictable.  GCC format string checking is not available,
since it doesn&rsquo;t recognise the GMP extensions.
</p>
<p>The file based functions <code class="code">gmp_printf</code> and <code class="code">gmp_fprintf</code> will return
<em class="math">-1</em> to indicate a write error.  Output is not &ldquo;atomic&rdquo;, so partial
output may be produced if a write error occurs.  All the functions can return
<em class="math">-1</em> if the C library <code class="code">printf</code> variant in use returns <em class="math">-1</em>, but
this shouldn&rsquo;t normally occur.
</p>
<dl class="first-deftypefn first-deftypefun-alias-first-deftypefn">
<dt class="deftypefn deftypefun-alias-deftypefn" id="index-gmp_005fprintf"><span class="category-def">Function: </span><span><code class="def-type">int</code> <strong class="def-name">gmp_printf</strong> <code class="def-code-arguments">(const char *<var class="var">fmt</var>, &hellip;)</code><a class="copiable-link" href='#index-gmp_005fprintf'> &para;</a></span></dt>
<dt class="deftypefnx deftypefunx-alias-deftypefnx def-cmd-deftypefn" id="index-gmp_005fvprintf"><span class="category-def">Function: </span><span><code class="def-type">int</code> <strong class="def-name">gmp_vprintf</strong> <code class="def-code-arguments">(const char *<var class="var">fmt</var>, va_list <var class="var">ap</var>)</code><a class="copiable-link" href='#index-gmp_005fvprintf'> &para;</a></span></dt>
<dd><p>Print to the standard output <code class="code">stdout</code>.  Return the number of characters
written, or <em class="math">-1</em> if an error occurred.
</p></dd></dl>
<dl class="first-deftypefn first-deftypefun-alias-first-deftypefn">
<dt class="deftypefn deftypefun-alias-deftypefn" id="index-gmp_005ffprintf"><span class="category-def">Function: </span><span><code class="def-type">int</code> <strong class="def-name">gmp_fprintf</strong> <code class="def-code-arguments">(FILE *<var class="var">fp</var>, const char *<var class="var">fmt</var>, &hellip;)</code><a class="copiable-link" href='#index-gmp_005ffprintf'> &para;</a></span></dt>
<dt class="deftypefnx deftypefunx-alias-deftypefnx def-cmd-deftypefn" id="index-gmp_005fvfprintf"><span class="category-def">Function: </span><span><code class="def-type">int</code> <strong class="def-name">gmp_vfprintf</strong> <code class="def-code-arguments">(FILE *<var class="var">fp</var>, const char *<var class="var">fmt</var>, va_list <var class="var">ap</var>)</code><a class="copiable-link" href='#index-gmp_005fvfprintf'> &para;</a></span></dt>
<dd><p>Print to the stream <var class="var">fp</var>.  Return the number of characters written, or
<em class="math">-1</em> if an error occurred.
</p></dd></dl>
<dl class="first-deftypefn first-deftypefun-alias-first-deftypefn">
<dt class="deftypefn deftypefun-alias-deftypefn" id="index-gmp_005fsprintf"><span class="category-def">Function: </span><span><code class="def-type">int</code> <strong class="def-name">gmp_sprintf</strong> <code class="def-code-arguments">(char *<var class="var">buf</var>, const char *<var class="var">fmt</var>, &hellip;)</code><a class="copiable-link" href='#index-gmp_005fsprintf'> &para;</a></span></dt>
<dt class="deftypefnx deftypefunx-alias-deftypefnx def-cmd-deftypefn" id="index-gmp_005fvsprintf"><span class="category-def">Function: </span><span><code class="def-type">int</code> <strong class="def-name">gmp_vsprintf</strong> <code class="def-code-arguments">(char *<var class="var">buf</var>, const char *<var class="var">fmt</var>, va_list <var class="var">ap</var>)</code><a class="copiable-link" href='#index-gmp_005fvsprintf'> &para;</a></span></dt>
<dd><p>Form a null-terminated string in <var class="var">buf</var>.  Return the number of characters
written, excluding the terminating null.
</p>
<p>No overlap is permitted between the space at <var class="var">buf</var> and the string
<var class="var">fmt</var>.
</p>
<p>These functions are not recommended, since there&rsquo;s no protection against
exceeding the space available at <var class="var">buf</var>.
</p></dd></dl>
<dl class="first-deftypefn first-deftypefun-alias-first-deftypefn">
<dt class="deftypefn deftypefun-alias-deftypefn" id="index-gmp_005fsnprintf"><span class="category-def">Function: </span><span><code class="def-type">int</code> <strong class="def-name">gmp_snprintf</strong> <code class="def-code-arguments">(char *<var class="var">buf</var>, size_t <var class="var">size</var>, const char *<var class="var">fmt</var>, &hellip;)</code><a class="copiable-link" href='#index-gmp_005fsnprintf'> &para;</a></span></dt>
<dt class="deftypefnx deftypefunx-alias-deftypefnx def-cmd-deftypefn" id="index-gmp_005fvsnprintf"><span class="category-def">Function: </span><span><code class="def-type">int</code> <strong class="def-name">gmp_vsnprintf</strong> <code class="def-code-arguments">(char *<var class="var">buf</var>, size_t <var class="var">size</var>, const char *<var class="var">fmt</var>, va_list <var class="var">ap</var>)</code><a class="copiable-link" href='#index-gmp_005fvsnprintf'> &para;</a></span></dt>
<dd><p>Form a null-terminated string in <var class="var">buf</var>.  No more than <var class="var">size</var> bytes
will be written.  To get the full output, <var class="var">size</var> must be enough for the
string and null-terminator.
</p>
<p>The return value is the total number of characters which ought to have been
produced, excluding the terminating null.  If <em class="math"><var class="var">retval</var> &gt;=
<var class="var">size</var></em> then the actual output has been truncated to the first
<em class="math"><var class="var">size</var>-1</em> characters, and a null appended.
</p>
<p>No overlap is permitted between the region {<var class="var">buf</var>,<var class="var">size</var>} and the
<var class="var">fmt</var> string.
</p>
<p>Notice the return value is in ISO C99 <code class="code">snprintf</code> style.  This is so even
if the C library <code class="code">vsnprintf</code> is the older GLIBC 2.0.x style.
</p></dd></dl>
<dl class="first-deftypefn first-deftypefun-alias-first-deftypefn">
<dt class="deftypefn deftypefun-alias-deftypefn" id="index-gmp_005fasprintf"><span class="category-def">Function: </span><span><code class="def-type">int</code> <strong class="def-name">gmp_asprintf</strong> <code class="def-code-arguments">(char **<var class="var">pp</var>, const char *<var class="var">fmt</var>, &hellip;)</code><a class="copiable-link" href='#index-gmp_005fasprintf'> &para;</a></span></dt>
<dt class="deftypefnx deftypefunx-alias-deftypefnx def-cmd-deftypefn" id="index-gmp_005fvasprintf"><span class="category-def">Function: </span><span><code class="def-type">int</code> <strong class="def-name">gmp_vasprintf</strong> <code class="def-code-arguments">(char **<var class="var">pp</var>, const char *<var class="var">fmt</var>, va_list <var class="var">ap</var>)</code><a class="copiable-link" href='#index-gmp_005fvasprintf'> &para;</a></span></dt>
<dd><p>Form a null-terminated string in a block of memory obtained from the current
memory allocation function (see <a class="pxref" href="constant.Custom_Allocation.html#start">Custom Allocation</a>).  The block will be the
size of the string and null-terminator.  The address of the block is stored to
*<var class="var">pp</var>.  The return value is the number of characters produced, excluding
the null-terminator.
</p>
<p>Unlike the C library <code class="code">asprintf</code>, <code class="code">gmp_asprintf</code> doesn&rsquo;t return
<em class="math">-1</em> if there&rsquo;s no more memory available, it lets the current allocation
function handle that.
</p></dd></dl>
<dl class="first-deftypefn first-deftypefun-alias-first-deftypefn">
<dt class="deftypefn deftypefun-alias-deftypefn" id="index-gmp_005fobstack_005fprintf"><span class="category-def">Function: </span><span><code class="def-type">int</code> <strong class="def-name">gmp_obstack_printf</strong> <code class="def-code-arguments">(struct obstack *<var class="var">ob</var>, const char *<var class="var">fmt</var>, &hellip;)</code><a class="copiable-link" href='#index-gmp_005fobstack_005fprintf'> &para;</a></span></dt>
<dt class="deftypefnx deftypefunx-alias-deftypefnx def-cmd-deftypefn" id="index-gmp_005fobstack_005fvprintf"><span class="category-def">Function: </span><span><code class="def-type">int</code> <strong class="def-name">gmp_obstack_vprintf</strong> <code class="def-code-arguments">(struct obstack *<var class="var">ob</var>, const char *<var class="var">fmt</var>, va_list <var class="var">ap</var>)</code><a class="copiable-link" href='#index-gmp_005fobstack_005fvprintf'> &para;</a></span></dt>
<dd><a class="index-entry-id" id="index-obstack-output"></a>
<p>Append to the current object in <var class="var">ob</var>.  The return value is the number of
characters written.  A null-terminator is not written.
</p>
<p><var class="var">fmt</var> cannot be within the current object in <var class="var">ob</var>, since that object
might move as it grows.
</p>
<p>These functions are available only when the C library provides the obstack
feature, which probably means only on GNU systems, see <a data-manual="libc" href="https://www.gnu.org/software/libc/manual/html_node/Obstacks.html#Obstacks">Obstacks</a> in <cite class="cite">The GNU C Library Reference Manual</cite>.
</p></dd></dl>
<hr>
</div>
<div class="section-level-extent" id="C_002b_002b-Formatted-Output">
<div class="nav-panel">
<p>
Previous: <a href="#Formatted-Output-Functions" accesskey="p" rel="prev">Functions</a>, Up: <a href="#Formatted-Output" accesskey="u" rel="up">Formatted Output</a> &nbsp; [<a href="constant.Concept_Index.html#start" title="Index" rel="index">Index</a>]</p>
</div>
<h3 class="section" id="C_002b_002b-Formatted-Output-1">10.3 C++ Formatted Output</h3>
<a class="index-entry-id" id="index-C_002b_002b-ostream-output"></a>
<a class="index-entry-id" id="index-ostream-output"></a>
<p>The following functions are provided in <samp class="file">libgmpxx</samp> (see <a class="pxref" href="constant.GMP_Basics.html#Headers-and-Libraries">Headers and Libraries</a>), which is built if C++ support is enabled (see <a class="pxref" href="constant.Installing_GMP.html#Build-Options">Build Options</a>).
Prototypes are available from <code class="code">&lt;gmp.h&gt;</code>.
</p>
<dl class="first-deftypefn first-deftypefun-alias-first-deftypefn">
<dt class="deftypefn deftypefun-alias-deftypefn" id="index-operator_003c_003c"><span class="category-def">Function: </span><span><code class="def-type">ostream&amp;</code> <strong class="def-name">operator&lt;&lt;</strong> <code class="def-code-arguments">(ostream&amp; <var class="var">stream</var>, const mpz_t <var class="var">op</var>)</code><a class="copiable-link" href='#index-operator_003c_003c'> &para;</a></span></dt>
<dd><p>Print <var class="var">op</var> to <var class="var">stream</var>, using its <code class="code">ios</code> formatting settings.
<code class="code">ios::width</code> is reset to 0 after output, the same as the standard
<code class="code">ostream operator&lt;&lt;</code> routines do.
</p>
<p>In hex or octal, <var class="var">op</var> is printed as a signed number, the same as for
decimal.  This is unlike the standard <code class="code">operator&lt;&lt;</code> routines on <code class="code">int</code>
etc, which instead give two&rsquo;s complement.
</p></dd></dl>
<dl class="first-deftypefn first-deftypefun-alias-first-deftypefn">
<dt class="deftypefn deftypefun-alias-deftypefn" id="index-operator_003c_003c-1"><span class="category-def">Function: </span><span><code class="def-type">ostream&amp;</code> <strong class="def-name">operator&lt;&lt;</strong> <code class="def-code-arguments">(ostream&amp; <var class="var">stream</var>, const mpq_t <var class="var">op</var>)</code><a class="copiable-link" href='#index-operator_003c_003c-1'> &para;</a></span></dt>
<dd><p>Print <var class="var">op</var> to <var class="var">stream</var>, using its <code class="code">ios</code> formatting settings.
<code class="code">ios::width</code> is reset to 0 after output, the same as the standard
<code class="code">ostream operator&lt;&lt;</code> routines do.
</p>
<p>Output will be a fraction like &lsquo;<samp class="samp">5/9</samp>&rsquo;, or if the denominator is 1 then
just a plain integer like &lsquo;<samp class="samp">123</samp>&rsquo;.
</p>
<p>In hex or octal, <var class="var">op</var> is printed as a signed value, the same as for
decimal.  If <code class="code">ios::showbase</code> is set then a base indicator is shown on
both the numerator and denominator (if the denominator is required).
</p></dd></dl>
<dl class="first-deftypefn first-deftypefun-alias-first-deftypefn">
<dt class="deftypefn deftypefun-alias-deftypefn" id="index-operator_003c_003c-2"><span class="category-def">Function: </span><span><code class="def-type">ostream&amp;</code> <strong class="def-name">operator&lt;&lt;</strong> <code class="def-code-arguments">(ostream&amp; <var class="var">stream</var>, const mpf_t <var class="var">op</var>)</code><a class="copiable-link" href='#index-operator_003c_003c-2'> &para;</a></span></dt>
<dd><p>Print <var class="var">op</var> to <var class="var">stream</var>, using its <code class="code">ios</code> formatting settings.
<code class="code">ios::width</code> is reset to 0 after output, the same as the standard
<code class="code">ostream operator&lt;&lt;</code> routines do.
</p>
<p>The decimal point follows the standard library float <code class="code">operator&lt;&lt;</code>, which
on recent systems means the <code class="code">std::locale</code> imbued on <var class="var">stream</var>.
</p>
<p>Hex and octal are supported, unlike the standard <code class="code">operator&lt;&lt;</code> on
<code class="code">double</code>.  The mantissa will be in hex or octal, the exponent will be in
decimal.  For hex the exponent delimiter is an &lsquo;<samp class="samp">@</samp>&rsquo;.  This is as per
<code class="code">mpf_out_str</code>.
</p>
<p><code class="code">ios::showbase</code> is supported, and will put a base on the mantissa, for
example hex &lsquo;<samp class="samp">0x1.8</samp>&rsquo; or &lsquo;<samp class="samp">0x0.8</samp>&rsquo;, or octal &lsquo;<samp class="samp">01.4</samp>&rsquo; or &lsquo;<samp class="samp">00.4</samp>&rsquo;.
This last form is slightly strange, but at least differentiates itself from
decimal.
</p></dd></dl>
<p>These operators mean that GMP types can be printed in the usual C++ way, for
example,
</p>
<div class="example">
<pre class="example-preformatted">mpz_t  z;
int    n;
...
cout &lt;&lt; &quot;iteration &quot; &lt;&lt; n &lt;&lt; &quot; value &quot; &lt;&lt; z &lt;&lt; &quot;\n&quot;;
</pre></div>
<p>But note that <code class="code">ostream</code> output (and <code class="code">istream</code> input, see <a class="pxref" href="constant.Formatted_Input.html#C_002b_002b-Formatted-Input">C++ Formatted Input</a>) is the only overloading available for the GMP types and that
for instance using <code class="code">+</code> with an <code class="code">mpz_t</code> will have unpredictable
results.  For classes with overloading, see <a class="ref" href="constant.CPP_Class_Interface.html#C_002b_002b-Class-Interface">C++ Class Interface</a>.
</p>
</div>
</div>
<hr>
<div class="nav-panel">
<p>
Next: <a href="constant.Formatted_Input.html#Formatted-Input" accesskey="n" rel="next">Formatted Input</a>, Previous: <a href="constant.Random_Number_Functions.html#Random-Number-Functions" accesskey="p" rel="prev">Random Number Functions</a>, Up: <a href="index.html#start" accesskey="u" rel="up">GNU MP</a> &nbsp; [<a href="constant.Concept_Index.html#start" title="Index" rel="index">Index</a>]</p>
</div>
