<div class="top-level-extent" id="Top">
<div class="nav-panel">
<p>
Next: <a href="constant.Copying.html#start" accesskey="n" rel="next">GNU MP Copying Conditions</a>, Previous: <a href="../dir_html/index.html" accesskey="p" rel="prev">(dir)</a>, Up: <a href="../dir_html/index.html" accesskey="u" rel="up">(dir)</a> &nbsp; [<a href="constant.Concept_Index.html#start" title="Index" rel="index">Index</a>]</p>
</div>
<h1 class="top" id="GNU-MP">GNU MP</h1>
<p>This manual describes how to install and use the GNU multiple precision
arithmetic library, version 6.3.0.
</p>
<p>Copyright 1991, 1993-2016, 2018-2020 Free Software Foundation, Inc.
</p>
<p>Permission is granted to copy, distribute and/or modify this document under
the terms of the GNU Free Documentation License, Version 1.3 or any later
version published by the Free Software Foundation; with no Invariant Sections,
with the Front-Cover Texts being &ldquo;A GNU Manual&rdquo;, and with the Back-Cover
Texts being &ldquo;You have freedom to copy and modify this GNU Manual, like GNU
software&rdquo;.  A copy of the license is included in
<a class="ref" href="constant.GNU_Free_Documentation_License.html#start">GNU Free Documentation License</a>.
</p><br>
<ul class="mini-toc">
<li><a href="constant.Copying.html#start" accesskey="1">GNU MP Copying Conditions</a></li>
<li><a href="constant.Introduction_to_GMP.html#start" accesskey="2">Introduction to GNU MP</a></li>
<li><a href="constant.Installing_GMP.html#Installing-GMP" accesskey="3">Installing GMP</a></li>
<li><a href="constant.GMP_Basics.html#GMP-Basics" accesskey="4">GMP Basics</a></li>
<li><a href="constant.Reporting_Bugs.html#start" accesskey="5">Reporting Bugs</a></li>
<li><a href="constant.Integer_Functions.html#Integer-Functions" accesskey="6">Integer Functions</a></li>
<li><a href="constant.Rational_Number_Functions.html#Rational-Number-Functions" accesskey="7">Rational Number Functions</a></li>
<li><a href="constant.Floating_point_Functions.html#Floating_002dpoint-Functions" accesskey="8">Floating-point Functions</a></li>
<li><a href="constant.Low_level_Functions.html#start" accesskey="9">Low-level Functions</a></li>
<li><a href="constant.Random_Number_Functions.html#Random-Number-Functions">Random Number Functions</a></li>
<li><a href="constant.Formatted_Output.html#Formatted-Output">Formatted Output</a></li>
<li><a href="constant.Formatted_Input.html#Formatted-Input">Formatted Input</a></li>
<li><a href="constant.CPP_Class_Interface.html#C_002b_002b-Class-Interface">C++ Class Interface</a></li>
<li><a href="constant.Custom_Allocation.html#start">Custom Allocation</a></li>
<li><a href="constant.Language_Bindings.html#start">Language Bindings</a></li>
<li><a href="constant.Algorithms.html#Algorithms">Algorithms</a></li>
<li><a href="constant.Internals.html#Internals">Internals</a></li>
<li><a href="constant.Contributors.html#start">Contributors</a></li>
<li><a href="constant.References.html#start">References</a></li>
<li><a href="constant.GNU_Free_Documentation_License.html#start">GNU Free Documentation License</a></li>
<li><a href="constant.Concept_Index.html#start">Concept Index</a></li>
<li><a href="constant.Function_Index.html#start">Function and Type Index</a></li>
</ul>
</div>
<hr>
<div class="nav-panel">
<p>
Next: <a href="constant.Copying.html#start" accesskey="n" rel="next">GNU MP Copying Conditions</a>, Previous: <a href="../dir_html/index.html" accesskey="p" rel="prev">(dir)</a>, Up: <a href="../dir_html/index.html" accesskey="u" rel="up">(dir)</a> &nbsp; [<a href="constant.Concept_Index.html#start" title="Index" rel="index">Index</a>]</p>
</div>
